<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hellomobile">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.HelloMobile">
        <activity android:name=".ApiLabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>